* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --arancione:#CD3D0F;
    --notte:#161C3B;
    --blue:#3A6DE7;

}
body{
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 80px;
    height: 40px;
}
header .my_nav_hover:hover {
    color: var(--blue) !important;
}
.my_visible,
.my_visible_none {
    width: 10px;
}
.my_nav_hover:hover .my_visible {
    display: none;
}
.my_visible_none {
    display: none;
}
.my_nav_hover:hover .my_visible_none {
    display: inline;
}
.my_dropdown_a {
    text-decoration: none;
}
.my_dropdown_a:hover {
    text-decoration: underline;
}
::marker {
    color: var(--blue);
}

.lens {
    height: 25px;
    vertical-align: middle;
}
.my_btn_black:hover {
    color: #fff;
    border: 1px solid #fff !important;
    outline: 2px solid black;
}
#jumbo-1{
        width: 100%;
        min-height: 50vh;
        background-size: cover;
        background-position: center;
        background-image: url("../img/jumbo-bg.png");
        padding: 50px;
       
    }

#jumbo-1 img {
    margin-top:100px;
    width: 250px;
    
}
.btn-a{
    background-color: var(--arancione);
    border:1px solid var(--arancione);}


 img {
    max-width: 100%;
}

#jumbo-2{
    width: 100%;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    
}
#play-now{
    background-color:var(--notte);
}



.ps-footer {
    width: 20%;
    margin-bottom: 30px;
}

.language img {
    width: 20px;
}

.language span {
    color: white;
}


/*Media*/
.none-md{
    display:none;
}
@media screen and (min-width: 768px){
    .none-md{
        display:block;
    }
    
}
.none-sm{
    display:block
}
@media screen and (max-width: 576px){
    .none-sm{
        display:none;
    }
}

/*Effect*/
#card .my-active:hover {
    border: 2px solid rgb(0, 106, 255);
    box-shadow: 0 0 0 0px white, 0 0 0 1.5px #0072CE;
}

.caro-item {
    transition: 0.5s;
    cursor: pointer;
}

.caro-item:hover {
    transform: translate(0, -5%);}

.btn-a:hover{
    color: #fff;
    border: 1px solid var(--arancione) !important;
    outline: 2px solid var(--arancione);
    background-color: transparent;
  
}
   
#ps5 .my-acti:hover {
     border-bottom: 1px solid var(--blue);
    
   filter:opacity(1);
}

#ps5 .my-active-2 {
    opacity: 70%;
    cursor: pointer;
    padding-bottom: 10px;
   
}

#ps5 .my-active-2:hover {
    opacity: 100%;
    border-bottom: 2px solid var(--blue);
}


#nuove-uscite .row .col-6:hover{
   
  margin-top: -10px;
    
}