* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --arancione:#CD3D0F;
}
#jumbo-1{
        width: 100%;
        min-height: 50vh;
        background-size: cover;
        background-position: center;
        background-image: url("../img/jumbo-bg.png");
        padding: 50px;
    }

#jumbo-1 img {
    margin-top:100px;
    width: 250px;
    
}
.btn-a{
    background-color: #CD3D0F;
}